/* ----- FONTS ----- */

@font-face {
    font-family: 'RopaSansProRegular';
    src: url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.eot');
    src: url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.eot') format('embedded-opentype'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.woff2') format('woff2'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.woff') format('woff'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.ttf') format('truetype'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.svg#lettersoupRopaSansProRegular') format('svg');
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSans-Regular.eot');
  src: url('../fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
    url('../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----- adjustment ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'RopaSansProRegular', sans-serif;
  width: 100%;
  height: 100%;
}

button, input, optgroup, select, textarea{
  font-family: 'RopaSansProRegular', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  min-width: 1180px;
}

h1{
  padding: 0;
  margin: 0;
}

h2{

}

p{
  padding: 0;
  margin: 0;
}

a, a:visited, a:hover, a:active{
  text-decoration: none;
}

.wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  // width: 1260px;
}

ul{
  padding: 0;
  margin: 0;

  li{
    list-style: none;
  }
}

input, textarea{
  border: 0px solid #cccccc; //цвет рамки
  border-radius: 8px; //закругление углов (общее)
  -webkit-border-radius: 8px; //закругление углов (Google Chrome)
  -moz-border-radius: 8px; //закругление углов (FireFox)
  -khtml-border-radius: 8px; //закругление углов (Safari)
  background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
  outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
  height: 50px; // высота на свое усмотрение
  width: 132px; // ширина на свое усмотрение
  color: #6c6c6c; //цвет шрифта в обычном состоянии
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 1.3em;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn, .btn:active, .btn:hover{
  display: inline-block;
  padding: 0px 0px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}
}

.button__red, .button__red:active, .button__red:hover{
  @extend .btn;

  padding: 0;
  //width: 230px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;

  color: white;
  font-size: 1.26rem;
  text-align: center;
  font-weight: normal;
  font-style: normal;

  background-image: none;

  border: 0px solid rgba( black, .15 );
  background-color: #BD1318;

  -webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
}

.button__red__img, .button__red__img:active, .button__red__img:hover{
  @extend .button__red;

  width: 230px;
  padding-left: 25px;
  text-align: left;
  background: url("../img/button-icon-2.png") no-repeat 98% center;
  background-color: #BD1318;
}

.container{
  width: 1180px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.bigtext{
  font-size: 1.2rem;
}

.h2header__min{
  font-size: 3.1em;
  color :#3d3c3c;
}

.h2header__big{
  font-size: 3.63em;
}


/* ----- HACK ----- */

  body::after {
    content:
        url("../img/target-lose-icon-off.png")
        url("../img/target-lose-icon-on.png")
        url("../img/target-gain-icon-on.png")
        url("../img/target-maintenance-icon-on.png")
        url("../img/markers-right.png")
        url("../img/markers-left.png");
    display: none;
  }

/* ----- HEADER ----- */

header{
  position: relative;
  background: #f0f0f0;
  z-index: 999;

  -webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);
}

.header__top{

  &:after, &:before{
    display: table;
    content: "";
  }
  &:after{
    clear: both;
  }
  &:before{}
}

.header__left{
  width: 16%;
  display: inline-block;
  float: left;

  padding: 10px 0 0px 0;


  .logo{
    display: inline-block;
  }

  .logo_pic{
    vertical-align: middle;
  }

  .logo_main{
    width: 100%;
  }

  .logo_text{
    width: 30%;
  }
}

.header__right{
  width: auto;
  position: relative;
  
  padding-top: 20px;
}

.header__contacts{
  text-align: right;
}

.header__social{
  display: inline-block;
}

.social__item{
  display: inline-block;
}

.social_pic{
  vertical-align: middle;
  margin-top: -10px;
}

.header__phone{
  display: inline-block;
  font-size:1.5rem;
  padding-left: 35px;
  padding-top: 10px;
  color: #787777;
}

.nav__menu__item{
  display: inline-block;
  padding: 23px 0 20px 40px;
  text-transform: uppercase;
  font-size: 1.08rem;
  color: #135986;
}

.header__menu{
  float: right;
}

.nav__menu{

  a, a:visited, a:active{
    color: #135986;
    text-decoration: none;
  }

  a:hover{
    border-bottom: 2px solid #BD1318;
  }
}

/* ----- CONTENT ----- */

.content{
  min-height: 200px;
  background: #BCE073;
}

/* ----- BLOCK-1 ----- */

.block-1{
  margin: 0 auto;
  display: inline-block;
}

.block__1__slider{
  position: relative;
  height: 587px;
}

.dark_background{
  background: #0f1623; /* Old browsers */
  background: -moz-linear-gradient(to top right, #0f1623 0%, #1a1e26 23%, #151a26 68%, #313f5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(to top right, #0f1623 0%,#1a1e26 23%,#151a26 68%,#313f5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top right, #0f1623 0%,#1a1e26 23%,#151a26 68%,#313f5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1623', endColorstr='#313f5c',GradientType=0 ); /* IE6-9 */
  transition: 2s;
}

.light_background{
  background: #2989d8; /* Old browsers */
  background: #c6e3f6; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #c6e3f6 0%, #4aa5e1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c6e3f6 0%,#4aa5e1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c6e3f6 0%,#4aa5e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e3f6', endColorstr='#4aa5e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  transition: 2s;
}

.slider__markers{
  padding-top: 6px;
  padding-left: 10px;
}

.slider__markers__position{
  width: 37px;
  height: 17px;

  &:hover{
    cursor: pointer;
  }
}

.slider__markers__position-left{
  background: url("../img/markers-left.png") no-repeat center center;
}

.slider__markers__position-right{
  background: url("../img/markers-right.png") no-repeat center center;
}


.slide__show{
  // visibility: visible;
  display: block;
}

.slide__hide{
  // visibility: hidden;
  display: none;
}

.slide__position__left{
  // left: -400px;
  // transform: scaleX(2);
  // opacity: 0;
  // transition: 3s;
  // animation: animate 2s forwards;
  left: -100%;
  transition: 2s;
  // visibility: hidden;
}

.slide__position__center{
  // opacity: 1;
  // left: 0px;
  // transition: 2s;
  // animation: animate_lol 2s forwards;
  left: 0px;
  transition: 2s;
}

.slide__position__right{
  left: 100%;
  // transition: 2s;
  // visibility: hidden;
}

@keyframes animate {
  0% {
    opacity: 1;
    z-index: 500;
    left: 0;
    transform: scale(1);
  }
  99.9% {
    opacity: 0;
    z-index: 500;
    // left: -400px;
    transform: scale(0.95);
  }
  100% {
    opacity: 0;
    z-index: 10;
    left: 0;
  }
}

@keyframes animate_lol {
  0% {
    transform: scale(0.8);
    left: 0;
    opacity: 0;
    z-index: 10;
  }
  99.9% {
    transform: scale(1);
    left: 0;
    opacity: 1;
    z-index: 10;
  }
  100% {
    left: 0;
    opacity: 1;
    z-index: 500;
  }
}

/* -----BLOCK-1__SLIDE-1 ----- */

.block__1__slide__element{
  opacity: 1;
  position: absolute;
  width: 100%;
}

.block__1__slide-1,{
  background: url("../img/block-1-background.png") no-repeat center center;
  height: 587px;
  z-index: 50;
}


.block__1__header{
  width: 42%;
  color: white;

  padding-top:155px;
  padding-left: 10px;

  z-index: 100;
  position: relative;

  h1{
    text-align: justify;
    line-height: auto;

    font-weight: normal;
    font-style: normal;

    line-height:0.95;
  }

  .header__1{
    font-size: 3.53em;
  }

  .header__2{
    font-size: 3.33em;
  }

  .header__city{
    display: inline-block;
    font-size: 2.2em;
    padding-top: 10px;
  }

  .gps__marker{
    display: inline-block;
    background: url("../img/gps-marker.png") no-repeat center center;
    width: 30px;
    height: 50px;
    vertical-align: middle;
    margin-top: -10px;
    padding-left: 50px;
  }
}

.block__1__description{
  padding-top: 38px;
  color: white;
  padding-left: 15px;
}

.des__menu__item{
  padding-bottom: 11px;
  // font-size: 1.17rem;
  font-weight: normal;
  font-style: normal;
}

.order__button{
  padding-top: 27px;
  padding-left: 25px;
}

.block__1__prouct{
  z-index: 1;
  position: absolute;
  top:-110px;
  left: 360px;
}

/* -----BLOCK-1__SLIDE-2 ----- */

.block__1__slide-2{
  background: url("../img/block-1-background-2-slide.png") no-repeat center center;
  height: 587px;
}

.typebuttons{
  padding-top: 500px;
  text-align: center;
}

.typebuttons__item, .spacingdiv{
  display: inline-block;
}

.spacingdiv{
  width: 190px;
}

/* ----- BLOCK-2 ----- */

.block__2__wrapper{
  position: relative;
  height: 1015px;
  background: url("../img/block-2-img-logo.png") no-repeat -65px 30px;
}

.block__2__rightpanel{
  width: 620px;
  padding-top: 210px;

  margin-left: auto;

  .panel__header{
    color: black;

    p{
      padding:0;
      margin: 0;
      display: block;
      line-height: 0.95;
    }

    .what{
      font-size: 42px;
      // line-height:1;
    }

    .maxihealth{
      font-size: 57px;
      // line-height:57px;
    }
  }

  .panel__text{
    padding-top: 20px;
    height: 385px;

    .text{
      font-family: 'PT Sans', sans-serif;
      font-size: 15.2px;
      line-height: 1.6;
      color: #616161;
    }
  }
}

.block__2__advantages{

  text-align: center;
  position: relative;

  .advantages__wrapper{

  }

  .advantage__item{
    display: inline-block;
    width: 270px;
    margin: auto;

    p{
      padding-top: 20px;
      font-size: 1.02rem;
    }
  }
}

/* ----- BLOCK-3 ----- */

.block__3{
  background: url("../img/block-3-background.png") no-repeat center center;
  height: 657px;
  text-align: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container{
    text-align: center;
  }

  .logo{
    padding-top: 15px;
  }

  .howitworks{
    .howitworks__text{
      padding-top: 45px;
      color: white;
      font-size: 3.65rem;
      line-height:1;
    }
  }

  .playbuttonicon{
    padding-top: 45px;
  }

  .playbuttonwrapper{
    padding-top: 48px;
  }

  .playbutton, .playbutton:hover, .playbutton:active{

    @extend .btn;
    width: 180px;
    height: 40px;

    color: white;
    font-size: 1.26rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;

    border: 0px solid rgba( black, .15 );
    background-color: rgba( black, .48 );
  }
}

/* ----- BLOCK-4 ----- */

.block__4{

  .container{
    text-align: center;
  }

  .logo{

    text-align: center;
    margin: 0 auto;
  }

  .change__icons{
    margin: 0 auto;
    width: 62px;
    height: 62px;

    animation-name: change__icons__animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
  }

  @keyframes change__icons__animation {
    0%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 0;
    }
    8.3%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 1;
    }
    24.9%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 1;
    }
    33.2%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 0;
    }
    33.3%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 0;
    }
    41.6%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 1;
    }
    56.6%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 1;
    }
    65.5%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 0;
    }
    66.6%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 0;
    }
    74.6%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 1;
    }
    92.7%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 1;
    }
    100%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 0;
    }
  }

  .block__4__header{
      text-align: center;

    .logo{
      padding-top: 60px;
    }

    .header{

      padding-top: 40px;
      line-height: 1;
      color: #3d3c3c;

      .firstline{
        font-size: 2.5em;
      }

      .secondline{
        padding-top: 7px;
        font-size: 3.19em;
      }
    }
  }

  .divspacing{
    min-height: 60px;
  }

  .block__4__type{
    background: url("../img/block-4-background.png") no-repeat center top;
    height: 614px;


    .typeicons{
      padding-top: 120px;

      .typeicons__item{
        display: inline-block;
      }

      .typeicons__item___1{
        padding-left: 12px;
      }
      .typeicons__item___2{
        padding-left: 368px;
      }
      .typeicons__item___3{
        padding-left: 390px;
      }
    }

    .typebuttons{

      text-align: center;
      padding-top: 310px;

      .typebuttons__item{
        display: inline-block;
        width: 376px;
      }
      .spacingdiv{
        width: 20px;
        display: inline-block;
      }
    }
  }
}

/* ----- BLOCK-5 ------ */

.block__5{
  background: url("../img/block-5-background.png") no-repeat center center;
  height: 921px;
  color: #3d3c3c;

  .header__wraper{
    text-align: center;
    padding-top: 95px;
    

    .header__text{
      font-size: 3.1em;
    }

    .refinement__text{
      padding-top: 35px;
    }

    .star{
      font-size: 3.1em;
      display: inline-block;
    }

    .refinement__text__wrap{
      display: inline-block;
      vertical-align: bottom;
      margin-top: 70px;
    }

    .refinement__text{
      vertical-align: top;
      margin-top: -81px;
    }
  }

  //время анимации так же жёстко задано в calculator.js, если править, то править и так и тут. Там переменная animationDuration

  .calc__show{
    animation: calc_show 1s forwards;
  }

  .calc__show__display{
    display: block;
  }

  .calc__hide{
    animation: calc_hide 1s forwards;
  }

  .calc__hide__display{
    display: none;
  }

  @keyframes calc_hide {
    0% {
      opacity: 1;
      z-index: 500;
    }
    99.9% {
      opacity: 0;
      z-index: 500;
    }
    100% {
      opacity: 0;
      z-index: 10;
    }
  }

  @keyframes calc_show {
    0% {
      opacity: 0;
      z-index: 10;
    }
    99.9% {
      opacity: 1;
      z-index: 10;
    }
    100% {
      opacity: 1;
      z-index: 500;
    }
  }

  .calc__body__result{
  }

  .calc__body{
    padding-top: 35px;

    input[type=radio]{
      position: absolute;
      visibility: hidden;
    }

    label{
      cursor: pointer;
      position: relative;
      padding-left: 40px;

      padding: 25px 25px 25px 38px;
      margin: 10px auto;

      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
    }

    label:hover{
      color: black;
    }

    .check{
      cursor: pointer;
      display: block;
      position: absolute;
      border: 4px solid #AAAAAA;
      background: white;
      border-radius: 100%;
      height: 23px;
      width: 23px;
      top: 26px;
      left: 0px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    }

    .check:hover {
      border: 5px solid #146699;
    }

    .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 9px;
      width: 9px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }

    input[type=radio]:checked ~ .check {
      // border: 5px solid #0DFF92;
    }

    input[type=radio]:checked ~ .check::before{
      background: #146699;
    }

    input[type=radio]:checked ~ label{
      color: #146699;
    }

    .calc__radio__1{
      display: inline-block;
      position: relative;
    }
    
    .calc__radio__2{
      display: inline-block;
      margin-left: 35px;
      position: relative;
    }

    .calc__list__line{
      line-height: 75px;
    }
    
    .calc__parameter, .calc__delimeter, .calc__input__wrapper{
      display: inline-block;
    }

    .calc__parameter{
      min-width: 270px;
      text-align: right;
    }

    .delimeter__image{
      vertical-align: top;
      padding-top: 36px;
      padding-left: 7px;
      padding-right: 7px;
    }

    .calc__list__line{

      .calc__input__wrapper{
        line-height: 75px;
        vertical-align: middle;
        cursor: pointer;
        padding-left: 5px;
      }

      .gender__wrapper{
        padding: 0;
      }

      .activity__wrapper{
        @extend input;

        cursor: pointer;

        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 250px;
        background: url("../img/activity-arrow.png") no-repeat scroll 93% center white !important;
      }
  
      .select__activity{
        cursor: pointer;
        padding-left: 15px;
        padding-top: 2px;
        background: transparent none repeat scroll 0 0;

        border: 0px solid #cccccc; //цвет рамки
        border-radius: 0;
        height: 50px;
        text-align: left;
        width: 250px;
        vertical-align: top;
        color: #6c6c6c;
        font-size: 1.2rem;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }

      select::-ms-expand {  /* для IE */ 
          display: none;
      }

      .select__activity option{
        border: 0px solid #cccccc; //цвет рамки
        background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
        outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
        height: 50px; // высота на свое усмотрение
        // width: 250px; // ширина на свое усмотрение
        color: #6c6c6c; //цвет шрифта в обычном состоянии
        padding-left: 18px;
        text-align: left;
        font-size: 1.3rem;
        vertical-align: middle;
        line-height:105px;

        padding-top: 10px;
      }

      .lineend{
        padding-left: 15px;
      }
    }

    .calc__list__line__target{
      padding-top:68px;

      label{
        padding-top: 68px;
      }
    }

    .calc__target__radio__loss{
      display: inline-block;
      position: relative;
    }
    
    .calc__target__radio__gain{
      display: inline-block;
      margin-left: 20px;
      position: relative;
    }

    .calc__target__radio__main{
      display: inline-block;
      margin-left: 20px;
      position: relative;
    }

    .target__icon{
      position: absolute;
      top:-43px;
      left:65px;
    }

    .target__icon__loss{
      background: url("../img/target-lose-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;

      -moz-transition: background 1s ease-in-out;
      -webkit-transition: background 1s ease-in-out;
      -o-transition: background 1s ease-in-out;

    }

    .target__icon__gain{
      background: url("../img/target-gain-icon-on.png") no-repeat center center;
      background: url("../img/target-gain-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;
    }

    .target__icon__main{
      background: url("../img/target-maintenance-icon-on.png") no-repeat center center;
      background: url("../img/target-maintenance-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;
    }

    .calc__target__radio__loss input[type=radio]:checked ~ .target__icon__loss {
      background: url("../img/target-lose-icon-on.png") no-repeat center center;
    }

    .calc__target__radio__gain input[type=radio]:checked ~ .target__icon__gain {
      background: url("../img/target-gain-icon-on.png") no-repeat center center;
    }

    .calc__target__radio__main input[type=radio]:checked ~ .target__icon__main {
      background: url("../img/target-maintenance-icon-on.png") no-repeat center center;
    }

    .button__calc__wrapper{
      text-align: center;
      padding-top: 28px;
    }

    .button__calc{
      text-align: center;
      background-image: none;
      padding: 0;
    }

    .calc__result{
      color: #3d3c3c;

      text-align: center;

      .inner__header{
        display: inline-block;
        padding-left: 40px;
        // background: url("../img/red-arrow-to-down.png") no-repeat left center;

      }

      .inner__header__text{
        font-size: 2.08rem;
        vertical-align: center;
      }

      .landmarks{
        padding-top: 50px;

        .inner__header{
          vertical-align: center;
          padding-right: 72px;
          line-height: 52px;
        }
      }

      .inner__body{
        padding-top: 23px;

        .formulas__list{
          display: inline-block;
          text-align: left;
        }

        .formula__element{
          line-height: 50px;
        }

        .formula__type, .formula__delimeter, .formula__result{
          float: left;
        }

        .formula__type{
          width:285px;
        }

        .formula__type__text{
          font-size: 1.11rem;
          text-align: right;
        }

        .formula__delimeter__img{
          vertical-align: top;
          padding-top: 24px;
          padding-left: 10px;
          padding-right: 10px;
        }
  
        .formula__result__text{
          font-size: 1.9rem;
        }

      }

      .button__recalc{
        padding-top: 60px;
      }

    }

  }
}

.landmarks__background__lose{
  background: 
                      url("../img/red-arrow-to-down.png") no-repeat left center,
                      url("../img/target-lose-icon-on.png") no-repeat right center;
}

.landmarks__background__gain{
  background: 
                      url("../img/red-arrow-to-down.png") no-repeat left center,
                      url("../img/target-gain-icon-on.png") no-repeat right center;
}

.landmarks__background__main{
  background: 
                      url("../img/red-arrow-to-down.png") no-repeat left center,
                      url("../img/target-maintenance-icon-on.png") no-repeat right center;
}


/* ----- BLOCK-6 ----- */

.block__6{
  height: 625px;
  text-align: center;

  .block__6__wrapper{
    text-align: center;
  }

  .block__6__header{
    padding-top: 85px;
  }

  .block__6__content{
    padding-top: 68px;

    .content__wrapper{
      background: url("../img/block-6-how-it-works-background.png") no-repeat center center;
      width: 1164px;
      height: 339px;
      text-align: left;

      .left__content{
        padding-left: 85px;
        padding-top: 45px; 

        .content__header{
          font-size: 2.66rem;
          color: #ae2a2a;
        }

        .text__wrapper:before{
          background: url("../img/check-icon-red.png") no-repeat center center;
        }
      }

      .right__content{
        padding-left: 270px;
        padding-top: 67px; 

        .content__header{
          font-size: 2.66rem;
          color: #135986;
        }

        .text__wrapper:before{
          background: url("../img/check-icon-blue.png") no-repeat center center;
        }
      }

      .content_inner{
        text-align: left;
        float: left;
        

        .we__are__element{
          padding-top: 35px;
        }

        .text__wrapper{
          display: inline-block;
          position: relative;
        }

        .text__wrapper:before{
          content:"";
          display: inline-block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 14px;
          width: 20px;
          top: 1px;
          left: -36px;
          margin: auto;
        }
      }
    }
  }
}

/* ----- BLOCK-7 ----- */

.block__7{
  background: url("../img/block-7-relations.png") no-repeat center center;
  height: 825px;
  text-align: center;
  color: #3d3c3c;

  .block__7__wrapper{
    text-align: center;
  }

  .block__7__header{
    padding-top: 57px;
  }

  .block__7__content{
    padding-top: 118px;

    .message__form__icon{
      position: absolute;
      top: -75px;
      z-index: 1;
    }


    .form__header{
      margin-left: 60px;
      min-width: 500px;
      position:relative;
      z-index: 2;
    }

    .header__text{
      font-size: 2rem;
      text-align: center;
    }

    .messageform{
      text-align: left;
      padding-top: 63px;
    }
    .content__inner{
      float: left;
      position: relative;
    }

    .right__content{
      // padding-left: 29px;
      float: right;
    }
    
    .massage__line{

      line-height: 0px;

      .message__parameter, .message__input__wrapper{
        display: inline-block;
      }

      .message__parameter{
        min-width: 115px;
        text-align: right;
      }

      .message__input__wrapper{
        line-height: 72px;
        vertical-align: middle;
        cursor: pointer;
        padding-left: 22px;

        input{
          width: 350px;
        }
      }
    }

    .message__line__textarea{
      
      padding-top: 9px;

      .textarea__wrapper{
        line-height: 0px;
      }

      .message__parameter{
        vertical-align: top;
        line-height: 75px;
      }

      .parameter__text{
        vertical-align: middle;
        line-height: 40px;
      }

      textarea{
        min-width: 350px;
        max-width: 350px;
        min-height: 157px;
        max-height: 157px;
        vertical-align: left;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px
      }
    }

    .button__submit__wrapper{
      @extend .form__header;
      padding-top: 46px;
      text-align: center;
    }

    .block__7__content__delimeter{
      float: left;
      padding-left: 10px;
      padding-top: 73px;
    }
  }
}

/* ----- FOOTER ----- */

.footer{
  background: url("../img/block-8-contact-background.png") no-repeat center center;
  height: 709px;
  // height: 709px;

  .contacts{
    width: 50%;
    float: right;
  }

  .contacts__inner{
    padding-left: 25px;
    padding-top: 100px;
  }

  .reginfo{
    padding-top: 50px;
  }

  .reginfo__text{
    font-size: 1.64rem;
    padding-bottom: 18px;
  }

  .footer__requsites{
    float: left;
  }

  .footer__contacts{
    float: right;
  }

  .footer__requsites, .footer__contacts{
    padding-top: 30px;
  }

  .requsits__header__text, .contacts__header__text{
    font-size: 2rem;
  }

  .requsits__content, .contacts__content{
    padding-top: 20px;
  }

  .requsits__content__text, .contacts__content__text{
    font-family: 'PT Sans', sans-serif;
    font-size: 15.2px;
    line-height: 1.6;
    color: #616161;
  }

  .contacts__highlight{
    color: #BD1318; 
  }
}

/* ----- OTHER ----- */

.text__red{
  color: #ef7666;
}

.bottom__fix{
  z-index: 100;
  position: fixed;
  bottom:0px;
  width: 100%;
  line-height: 34px;
  height: 34px;

  visibility: visible;

  background: rgba(black,.85);

  transition: 1s;
  
  a, a:visited, a:hover, a:active{
    text-decoration: none;
  }

  .action{
    float: left;
  }

  .close__action{
    float: right;

    &:hover{
      cursor: pointer;
    }
  }

  .action__text, .close__action__text {
    padding-top: 2px;
    padding-left: 87px;
    padding-right: 500px;
    background: url("../img/action-background-icon.png") no-repeat 36px center;
    
    font-size: 1rem;
    text-decoration: none;
    vertical-align: center;
    
    .text__h, .text__t{
      font-size: 1rem;
      text-decoration: none;
      vertical-align: center;
    }

    .action__white{
      color: white;
    }
  }

  .close__action__text{
      padding-left: 87px;
      background: url("../img/action-background-close-icon.png") no-repeat right 36px center;

      float: right;
      padding-left: 0;
      padding-right: 81px;

      .close__t{
        color: #888888;
      }
    }
}

.bottom__fix__hide{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.develop__hide{
  display: none;
}







/* ----- BLOCK-SLIDER ----- */

.wrapper{
  text-align: center;
}

.block__slider{
  height: 587px;

  .slide__inner{
    text-align: left;
  }
}

.slide__1{
  z-index: 1;
  position: absolute;
  background: url("../img/back__1-3-final2.png") no-repeat center center;
  height: 587px;
  width: 100%;
}

.slide__2{
  z-index: 0;
}

.slide__2__inner{
  z-index: 3;
  position: absolute;
  height: 587px;
  width: 445px;
  // width: 881px;

  background: url("../img/back__2__crop-4-final.png") no-repeat center center;

  margin: 0 auto;
  left: 100px;
  right: 0;

  transform: skewX(-20deg);

  transition: width 1s, left 1s, background-position 1s;

  border-left: 4px solid white;
  border-right: 4px solid white;

  overflow: hidden;

  .slide__2__inner__text{
    transform: skewX(20deg);
  }

  .button__wrapper{
    transform: skewX(20deg);
  }
}

.slide__2__inner__open{
  width: 802px;
  transition: 1s;
}

.slide__3{
  position: absolute;
  height: 587px;
  width: 100%;
}

.slide__3__inner{
  position: absolute;
  padding-left: 930px;
  z-index: 2;

  transition: 1s;
  
  .slide__inner__text__comment{
    .text__comment{
      width: 440px;
    }
  }

  .button__wrapper{
    z-index: 2;
    margin-left: -170px;
    padding-left: 150px;
    padding-bottom: 37px;
  }
}

.slide__3__inner__open{
  padding-left: 650px;
  transition: 1s;
}

.slide__3__inner__text{
  padding-bottom: 347px
}

.button__wrapper{
  position: absolute;
  padding-top: 500px;
  padding-left: 40px;
  transition: 1s;
}

.slide__2__inner__toright{
  left: 385px;
  width: 200px;
  transition: 1s;
}

.slide__2__inner__toleft{
  left: -305px;
  width: 210px;
  transition: 1s;
}

.slide__2__button__open{
  padding-left: 100px;
  transition: 1s;
}

.slide__2__button__open__left__hide{
  opacity: 0;
  transition: 1s;
  margin-left: -400px;
}

.slide__2__button__open__right__hide{
  opacity: 0;
  transition: 1s;
  margin-left: 250px !important;
}

.slide__3__button__open__center__hidetoleft{
  opacity: 0;
  transition: 1s;
  margin-left: -250px !important;
}

.slide__3__button__open__left__hide{
  opacity: 0;
  transition: 1s;
  margin-left: -200px;
}

.button__hide{
  opacity: 0;
  transition: 1s;
}

.slide__3__button__open{
  margin-left: -250px !important;
  padding-left: 250px !important;
  transition: 1s;
}

.slide__3__button__hide{
  opacity: 0;
  transition: 1s;
  margin-left: 20px !important;
}

.slide__inner__text{
  position: absolute;
  z-index: 1;
  padding-top: 90px;
  padding-left: 200px;

  opacity: 0;

  font-size: 4rem;
  color: white;

  transition: 1s;
}

.slide__inner__text__show{
  opacity: 1;
  transition: 1s;
  padding-left: 40px;
}

.slide__3__inner__text__show{
  opacity: 1;
  transition: 1s;
  padding-left: 0px;
  padding-right: 490px;
}

.slide__inner__text__header{
  height: 70px;
}

.slide__1__inner__text__header{
  background: url("../img/icon-weight-gain.png") no-repeat left center;
}

.slide__2__inner__text__header{
  background: url("../img/icon-weight-maintenance.png") no-repeat left center;
}

.slide__3__inner__text__header{
  background: url("../img/icon-weight-loss.png") no-repeat left center;
}


.slide__inner__text__header__inner{
  padding-left: 80px;

  .header__1{
    font-size: 2.66rem;
  }
  .header__2{
    font-size: 1.77rem;
  }
}

.slide__inner__text__comment{
  padding-left: 80px;
  padding-top: 35px;

  .text__comment{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    width: 540px;
  }
}

/* ----- SCROLL-ON-TOP ----- */

.button__scrollontop__wrapper{
  position: fixed;
  left: 30px;
  bottom: 50px;
  z-index: 500;
}

.scrollontop {
  vertical-align: middle;
}

.button__scrollontop, .button__scrollontop:hover, .button__scrollontop:active{
  // height: 100px;
  // width: 100px;
  height: 6vw;
  width: 6vw;
  padding:0;
  // border-radius: 100px;
  border-radius: 10vw;
  background-image: url("../img/scrollontop-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  // background-size: 80px 80px;
  background-size: 5vw 5vw;

  opacity: 0.75;
}

.button__scrollontop__show{
  opacity: 0.75;
  transition: 2s;
  z-index: 500;
}

.button__scrollontop__hide{
  opacity: 0;
  transition: 1s;
  z-index: -500;
  height: 2vw;
  width: 2vw;
  background-size: 3vw 3vw;
  margin-left: 1vw;
}