/* ----- MEDIA QUERIES SCSS ----- */

$small: 480px;
$xsmall: 400px;

@mixin respond-to($media) {
  @if $media == xsmall {
    @media all and (max-width: $xsmall) { @content; }
  }
  @else if $media == handhelds {
    @media all and (max-width: $small) { @content; }
  }
  @else if $media == wide-screens {
    @media all and (min-width: $small + 1) { @content; }
  }

}

.block-for-example-media-queries{
  float: left;
  width: 250px;
  @include respond-to(handhelds) {float: left; }
  @include respond-to(wide-screens) { float: left;}
}

/* --- SCSS VARUIABLES --- */

$RED_COLOR: #BD1318;
$GREY_COLOR: #3d3c3c;

/* ----- FONTS ----- */

@font-face {
    font-family: 'RopaSansProRegular';
    src: url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.eot');
    src: url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.eot') format('embedded-opentype'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.woff2') format('woff2'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.woff') format('woff'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.ttf') format('truetype'),
         url('../fonts/RopaSansPro/lettersoupRopaSansProRegular.svg#lettersoupRopaSansProRegular') format('svg');
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSans-Regular.eot');
  src: url('../fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
    url('../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRoubleSans';
  src: url('../fonts/PTRoubleSans/PTRoubleSans.eot');
  src: url('../fonts/PTRoubleSans/PTRoubleSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTRoubleSans/PTRoubleSans.woff') format('woff'),
    url('../fonts/PTRoubleSans/PTRoubleSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ----- adjustment ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'RopaSansProRegular', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;

  @include respond-to(handhelds) {
    font-size: 5vw;
  }
}

button, input, optgroup, select, textarea{
  font-family: 'RopaSansProRegular', sans-serif;
  text-transform: uppercase;
}

input:focus,
input:hover,
input:active,
input:checked,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline-color: transparent;
    box-shadow:none;
}

body{
  width: 100%;
  height: 100%;

  @include respond-to(wide-screens) {   min-width: 1180px; }
  @include respond-to(handhelds) {
    min-width: 100%;
  }
}

h1{
  padding: 0;
  margin: 0;
}

h2{

}

p{
  padding: 0;
  margin: 0;
}

a, a:visited, a:hover, a:active{
  text-decoration: none;
}

.wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  // width: 1260px;
}

ul{
  padding: 0;
  margin: 0;

  li{
    list-style: none;
  }
}

input, textarea{
  border: 0px solid #cccccc; //цвет рамки
  border-radius: 8px; //закругление углов (общее)
  -webkit-border-radius: 8px; //закругление углов (Google Chrome)
  -moz-border-radius: 8px; //закругление углов (FireFox)
  -khtml-border-radius: 8px; //закругление углов (Safari)
  background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
  outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
  height: 50px; // высота на свое усмотрение
  width: 132px; // ширина на свое усмотрение
  color: #6c6c6c; //цвет шрифта в обычном состоянии
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 1.3em;


  //test
  outline-color: transparent;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder{
  font-size: 1.01rem;
  text-align: left;
  margin-left: 16px;
  @include respond-to(handhelds) {
    font-size: 16.016px;
  }
}

.btn, .btn:active, .btn:hover{
  display: inline-block;
  padding: 0px 0px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}
}

.button__red, .button__red:active, .button__red:hover{
  @extend .btn;

  padding: 0;
  //width: 230px;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;

  color: white;
  font-size: 1.26rem;
  text-align: center;
  font-weight: normal;
  font-style: normal;

  background-image: none;

  border: 0px solid rgba( black, .15 );
  background-color: $RED_COLOR;

  -webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);

  transition: color 200ms;

  @include respond-to(handhelds) {
    font-size: 20.16px;
  }
}

.button__red:hover{
  color: black;
  transition: color 200ms;
}

.button__red__img, .button__red__img:active, .button__red__img:hover{
  @extend .button__red;

  width: 230px;
  padding-left: 25px;
  text-align: left;
  background: url("../img/button-icon-2.png") no-repeat 98% center;
  background-color: $RED_COLOR;

  transition: color 200ms;
}

.button__red__img:hover{
  color: black;
  transition: 200ms;
}

.container{
  
  position: relative;
  text-align: left;
  margin: 0 auto;

  // @include respond-to(handhelds) {  width: 420px;}
  @include respond-to(handhelds) {  width: 87.5%;}
  @include respond-to(wide-screens) {  
    width: 1180px;
  }
}

.bigtext{
  
  @include respond-to(wide-screens) {  
    font-size: 1.2rem;
  }
  @include respond-to(handhelds) {  
    font-size: 1rem;
  }
}

.h2header__min{
  
  color :$GREY_COLOR;

  @include respond-to(wide-screens) {  
    font-size: 3.1em;
  }
  @include respond-to(handhelds) {  
    font-size: 1.3rem;
  }
}

.h2header__big{
  font-size: 3.63em;
}

.paragraph-text{
  font-family: 'PT Sans', sans-serif; 
  font-size: 15.2px;
  line-height: 1.6;
  color: #616161;
}

/* ----- MEDIA QUERIES COMMON ----- */

@media all and (min-width: $small + 1){
  .display-hide{
    display: none !important;
  }
}


@media all and (max-width: $small){
  .mobile-hide{
    display: none !important;
  }
}

/* ----- HACK ----- */

  body::after {
    content:
        url("../img/target-lose-icon-off.png")
        url("../img/target-lose-icon-on.png")
        url("../img/target-gain-icon-on.png")
        url("../img/target-maintenance-icon-on.png")
        url("../img/markers-right.png")
        url("../img/markers-left.png");
    display: none;
  }

/* ----- HEADER ----- */

header{
  position: relative;
  background: #f0f0f0;
  z-index: 999;

  -webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.16);

  @include respond-to(wide-screens) {
    position: relative;
  }

  @include respond-to(handhelds) {
    position: static;
  }

  @include respond-to(handhelds) {
    .container{
      position: static;
    }
  }
}

.header__top{

  &:after, &:before{
    display: table;
    content: "";
  }
  &:after{
    clear: both;
  }
  &:before{}
}

.header__left{
  // display: inline-block;

  @include respond-to(wide-screens) { 
    width: 16%;
    float: left;
    padding: 10px 0 0px 0;
  }

  @include respond-to(handhelds) {
    text-align: center;
    padding: 16px 0 0px 0;
    .logo_pic{
      width: 60%;
    }
  }
}

.header__right{
  width: auto;
  
  
  padding-top: 20px;

  @include respond-to(wide-screens) { 
    position: relative;
  }


  @include respond-to(handhelds) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__contacts{
  @include respond-to(wide-screens) { 
    text-align: right;
  }

  @include respond-to(handhelds) {
    text-align: left;
  }
}

.header__social{
  
  @include respond-to(wide-screens) {
    display: inline-block;
  }

  @include respond-to(handhelds) {
    display: inline-block;
  }
}

.social__item{
  display: inline-block;
}

.social_pic{
  vertical-align: middle;
  margin-top: -10px;
}

.header__phone{
  display: inline-block;
  font-size:1.5rem;
  padding-left: 35px;
  padding-top: 10px;
  color: #787777;
}

.mobile__menu__button__wrapper{
  display: inline-block;
  float: right;
  margin-top: -4px;
}

.mobile__menu__icon{
  float: right;
}



.header__menu{
  
  @include respond-to(wide-screens) {
    float: right;
  }

  @include respond-to(handhelds) {
    position: fixed;
    background: rgba(black, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    pointer-events: none;

    &:target{
      display: block;
      pointer-events: auto;
      animation-name: menu__show;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      animation-direction: forwards;
    }
  }
}

@keyframes menu__show {
  0%{
    opacity: 0;
    z-index: 1000;
  }
  100%{
    opacity: 1;
    z-index: 1000;
  }
}

.close__button__wrapper{
  position: absolute;
  right: 5vw;
  top: 5vw;
}

.nav{
  @include respond-to(handhelds) {
    position: absolute;
    width: 80%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.nav__menu{

  @include respond-to(wide-screens) {
    a, a:visited, a:active{
    color: #135986;
    text-decoration: none;
    }

    a:hover{
      border-bottom: 2px solid $RED_COLOR;
    }
  }

  @include respond-to(handhelds) {
    a, a:visited, a:active{
    color: white;
    text-decoration: none;
    }

    a:hover{
      border-bottom: 2px solid $RED_COLOR;
    }
  }
}

.nav__menu__item{
  @include respond-to(wide-screens) {
    display: inline-block;
    padding: 23px 0 20px 40px;
    text-transform: uppercase;
    font-size: 1.08rem;
    color: #135986;
  }

  @include respond-to(handhelds) {
    padding: 7% 0 7% 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: #135986;
  }
}

/* ----- CONTENT ----- */

.content{
  min-height: 200px;
  background: #BCE073;
}

/* ----- BLOCK-1 ----- */

.block-1{
  margin: 0 auto;
  display: inline-block;
}

.block__1__slider{
  position: relative;

  @include respond-to(wide-screens) {
    height: 587px;
  }

  @include respond-to(handhelds) {
    height: 681px;
  }
}

.slider__markers{
  @include respond-to(wide-screens) {
    padding-top: 6px;
    padding-left: 10px;
  }
  @include respond-to(handhelds) {
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
}

.slider__markers__position{
  width: 37px;
  height: 17px;

  &:hover{
    cursor: pointer;
  }
}

.slider__markers__position-left{
  background: url("../img/markers-left.png") no-repeat center center;
}

.slider__markers__position-right{
  background: url("../img/markers-right.png") no-repeat center center;
}


.slide__show{
  display: block;
}

.slide__hide{
  display: none;
}

.slide__position__left{
  left: -100%;
  transition: left 2s;
}

.slide__position__center{
  left: 0px;
  transition: left 2s;
}

.slide__position__right{
  left: 100%;
}

/* -----BLOCK-1__SLIDE-1 ----- */

.block__1__slide__element{
  opacity: 1;
  position: absolute;
  width: 100%;
}

.block__1__slide-1{
  @include respond-to(wide-screens) {
    background: url("../img/block-1-background.png") no-repeat center center;
    height: 587px;
    z-index: 50;
  }

  @include respond-to(handhelds) {
    background-image: url("../img/block-1-background-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    // height: 681px;
    height: auto;
    background-size: cover;
    background-color: rgba(black, 0.6);
    background-blend-mode: multiply;
  }
}

.block__1__header{
  color: white;

  @include respond-to(wide-screens) {
    width: 42%;
    padding-top:155px;
    
    padding-left: 10px;

    z-index: 100;
    position: relative;
  }

  @include respond-to(handhelds) {
    padding-top:4rem;
  }

  h1{
    text-align: justify;
    line-height: auto;

    font-weight: normal;
    font-style: normal;

    line-height:0.95;
  }

  .header__1{

    @include respond-to(wide-screens) {
      font-size: 3.53em;
    }

    @include respond-to(handhelds) {
      // font-size: 10.5vw;
      font-size: 2.085rem;
    }
  }

  .header__2{

    @include respond-to(wide-screens) {
      font-size: 3.33em;
    }

    @include respond-to(handhelds) {
      // font-size: 9.9vw;
      font-size: 1.97rem;
    }
  }

  .header__city{
    display: inline-block;
    @include respond-to(wide-screens) { 
      font-size: 2.2em;
      padding-top: 10px;
    }

    @include respond-to(handhelds) {
      // font-size: 6.45vw;
      font-size: 1.3rem;
    }
  }

  .gps__marker{
    display: inline-block;
    background: url("../img/gps-marker.png") no-repeat center center;
    width: 20px;
    height: 50px;
    vertical-align: middle;
    margin-top: -10px;
    padding-left: 50px;

    @include respond-to(handhelds) {
      width: 10vw;
      height: 13vw;
      background-size: 5vw 8vw;
      padding-left: 8vw;
    }
  }
}

.block__1__description{
  padding-top: 38px;
  color: white;

  
  @include respond-to(wide-screens) {
    padding-left: 15px;
  }
  @include respond-to(handhelds) {
    padding-top:2.5rem;
  }
}

.des__menu{
  list-style-position: outside;
}

.des__menu__item{
  padding-bottom: 11px;
  font-weight: normal;
  font-style: normal;

  @include respond-to(handhelds) {
    font-size: 0.95rem;

    .li__inner__dash{
      width: 5%;
      float: left;
    }

    .li__inner__text{
      display: inline-block;
      width: 95%;
    }
  }
}

.order__button{
  
  width: 100%;
  @include respond-to(wide-screens) {
    padding-top: 27px;
    padding-left: 25px;
  }

  @include respond-to(handhelds) {
    text-align: center;
    padding-top: 3rem;
  }
}

.block__1__prouct{
  z-index: 1;
  position: absolute;
  top:-110px;
  left: 360px;
}

/* -----BLOCK-1__SLIDE-2 ----- */

.block__1__slide-2{
  @include respond-to(wide-screens) {
    background: url("../img/block-1-background-2-slide.png") no-repeat center center;
    height: 587px;
  }

  @include respond-to(handhelds) {
    background: url("../img/block-1-background-mobile-2.png") no-repeat center center;
    background-size: cover;
    height: auto;
    // height: 681px;
    // height: 30.04rem;
  }
}

.typebuttons{
  @include respond-to(wide-screens) {
    padding-top: 500px;
    text-align: center;
  }
  @include respond-to(handhelds) {
    text-align: center;
  }
}

.typebuttons__item, .spacingdiv{
  @include respond-to(wide-screens) {
    display: inline-block;
  }
}

.typebuttons__item{
  @include respond-to(handhelds) {
    padding: 18.4vw 0;
  }
}

.spacingdiv{
  width: 190px;
}

/* ----- BLOCK-2 ----- */

.block__2{
  @include respond-to(handhelds) {
    background: url("../img/block-2-img-logo.png") no-repeat center top;
    background-size: 112%;
  }
}

.block__2__wrapper{
  @include respond-to(wide-screens) {
    position: relative;
    height: 1015px;
    background: url("../img/block-2-img-logo.png") no-repeat -65px 30px;
  }
  @include respond-to(handhelds) {
    padding-top: 28rem;
  }
}

.block__2__rightpanel{
  @include respond-to(wide-screens) {
    width: 620px;
    padding-top: 210px;
    margin-left: auto;
  }

  .panel__header{
    color: GREY_COLOR;

    p{
      padding:0;
      margin: 0;
      display: block;
      line-height: 0.95;
    }

    .what{
      @include respond-to(wide-screens) {
        font-size: 42px;
      }
      @include respond-to(handhelds) {
        font-size: 1.53rem;
      }
    }

    .maxihealth{
      @include respond-to(wide-screens) {
        font-size: 57px;
      }
      @include respond-to(handhelds) {
        font-size: 1.9rem;
      }
    }
  }

  .panel__text{
    
    @include respond-to(wide-screens) {
      padding-top: 20px;
    }
    @include respond-to(handhelds) {
      padding-top: 2.2rem;
    }
  }
}

.block__2__advantages{

  text-align: center;
  position: relative;
  
  @include respond-to(wide-screens){
    padding-top: 100px;
  }

  @include respond-to(handhelds) {
    .advantages__wrapper:first-child{
      margin-top: 10vw;
    }
    .advantages__wrapper:last-child{
      padding-bottom: 8vw;
    }
  }

  .advantage__item{
    display: inline-block;
    
    margin: auto;

    @include respond-to(handhelds) {
      .adv__icon{
        width: 85%;
      }
    }
    @include respond-to(wide-screens) {
      width: 270px;
    }
    @include respond-to(handhelds) {
      width: 47%;
      vertical-align: top;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 3vw;
      padding-bottom: 10vw;
    }

    p{
      @include respond-to(wide-screens) {
        padding-top: 20px;
        font-size: 1.02rem;
      }
      @include respond-to(handhelds) {
        padding-top: 20px;
        font-size: 0.77rem;
      }
    }
  }
}

/* ----- BLOCK-3 ----- */

.block__3{
  background: url("../img/block-3-background.png") no-repeat center center;
  
  text-align: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond-to(wide-screens) {
    height: 657px;
  }

  @include respond-to(handhelds) {
    height: auto;
  }

  .container{
    text-align: center;
  }

  .logo{
    
    @include respond-to(wide-screens) {
      padding-top: 15px;
    }

    @include respond-to(handhelds) {
      padding-top: 0.7rem;

      .logo_pic{
        width: 60%;
      }
    }
  }

  .howitworks{
    .howitworks__text{
      color: white;

      @include respond-to(wide-screens) {
        font-size: 3.65rem;
        line-height:1;
      }

      @include respond-to(handhelds) {
        padding-top: 2rem;
        font-size: 2.3rem;
      }
    }
  }

  .playbuttonicon{
    
    @include respond-to(wide-screens) {
      padding-top: 60px;
    }

    @include respond-to(handhelds) {
      padding-top: 3rem;
      .playicon{
        width: 30%;
      }
    }
  }

  .playbuttonwrapper{
    @include respond-to(wide-screens) {
      padding-top: 65px;
    }
    @include respond-to(handhelds) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .playbutton, .playbutton:hover, .playbutton:active{

    @extend .btn;
    width: 180px;
    height: 40px;

    color: white;
    font-size: 1.26rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;

    border: 0px solid rgba( black, .15 );
    background-color: rgba( black, .48 );

    @include respond-to(handhelds) {
      font-size: 1rem;
    }
  }
}

/* ----- BLOCK-4 ----- */

.block__4{

  .container{
    text-align: center;
  }

  .logo{

    text-align: center;
    margin: 0 auto;
  }

  .change__icons{
    margin: 0 auto;
    width: 62px;
    height: 62px;

    animation-name: change__icons__animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: forwards;
  }

  @keyframes change__icons__animation {
    0%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 0;
    }
    8.3%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 1;
    }
    24.9%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 1;
    }
    33.2%{
      background: url("../img/icon-weight-gain-red.png") no-repeat center center;
      opacity: 0;
    }
    33.3%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 0;
    }
    41.6%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 1;
    }
    56.6%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 1;
    }
    65.5%{
      background: url("../img/icon-weight-loss-red.png") no-repeat center center;
      opacity: 0;
    }
    66.6%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 0;
    }
    74.6%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 1;
    }
    92.7%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 1;
    }
    100%{
      background: url("../img/icon-weight-maintenance-red.png") no-repeat center center;
      opacity: 0;
    }
  }

  .block__4__header{
      text-align: center;

    .logo{
      padding-top: 60px;
    }

    .header{

      padding-top: 40px;
      line-height: 1;
      color: $GREY_COLOR;

      .firstline{
        
        @include respond-to(wide-screens) {
          font-size: 2.5em;
        }
        @include respond-to(handhelds) {
          padding-top: 0.3rem;
          font-size: 1.2rem;
        }
      }

      .secondline{
        @include respond-to(wide-screens) {
          padding-top: 7px;
          font-size: 3.19em;
        }
        @include respond-to(handhelds) {
          padding-top: 0.3rem;
          font-size: 1.34rem;
        }
      }
    }
  }

  .divspacing{
    min-height: 60px;
  }

  .block__4__type{
    background: url("../img/block-4-background.png") no-repeat center top;
    height: 614px;


    .typeicons{
      padding-top: 120px;

      .typeicons__item{
        display: inline-block;
      }

      .typeicons__item___1{
        padding-left: 12px;
      }
      .typeicons__item___2{
        padding-left: 368px;
      }
      .typeicons__item___3{
        padding-left: 390px;
      }
    }

    .typebuttons{

      text-align: center;
      padding-top: 310px;

      .typebuttons__item{
        display: inline-block;
        width: 376px;
      }
      .spacingdiv{
        width: 20px;
        display: inline-block;
      }
    }
  }
}

.block__4{
  .block__1__slide-2{
    position: static;
  }
}

/* ----- BLOCK-5 ------ */

.calc__parameter__text{
  @include respond-to(handhelds) {
    font-size: 0.7rem;
  }
}

.block__5{
  background: url("../img/block-5-background.png") no-repeat center center;
  
  color: $GREY_COLOR;

  @include respond-to(wide-screens) {
    height: 921px;
  }
  @include respond-to(handhelds) {
    height: auto;
    background-position: center top;
    background-size: cover;
  }

  .header__wraper{
    text-align: center;
    @include respond-to(wide-screens) {
      padding-top: 95px;
    }
    @include respond-to(handhelds) {
      padding-top: 3.5rem;
    }

    .header__text{
      @include respond-to(wide-screens) {
        font-size: 3.1em;
      }
    }

    .refinement{
      padding-top: 0.2rem;
    }

    .star{
      display: inline-block;

      @include respond-to(wide-screens) {
        font-size: 3.1em;
      }
      @include respond-to(handhelds) {
        // padding-top: 1rem;
        font-size: 1.9em;
        vertical-align: bottom;
      }
    }

    .refinement__text__wrap{
      display: inline-block;
      vertical-align: bottom;
      
      @include respond-to(wide-screens) {
        margin-top: 70px;
      }
    }

    .refinement__text{
      @include respond-to(wide-screens) {
        padding-top: 35px;
      }
      @include respond-to(handhelds) {
        padding-top: 0;
        margin-top: -1.9rem;
      }
    }

    
  }

  //время анимации так же жёстко задано в calculator.js, если править, то править и так и тут. Там переменная animationDuration

  .calc__show{
    animation: calc_show 1s forwards;
  }

  .calc__show__display{
    display: block;
  }

  .calc__hide{
    animation: calc_hide 1s forwards;
  }

  .calc__hide__display{
    display: none;
  }

  @keyframes calc_hide {
    0% {
      opacity: 1;
      z-index: 500;
    }
    99.9% {
      opacity: 0;
      z-index: 500;
    }
    100% {
      opacity: 0;
      z-index: 10;
    }
  }

  @keyframes calc_show {
    0% {
      opacity: 0;
      z-index: 10;
    }
    99.9% {
      opacity: 1;
      z-index: 10;
    }
    100% {
      opacity: 1;
      z-index: 500;
    }
  }

  .calc__body{
    padding-top: 35px;

    @include respond-to(handhelds) {
      padding-top: 1.8rem;
    }

    input[type=radio]{
      position: absolute;
      visibility: hidden;
    }

    label{
      cursor: pointer;
      position: relative;
      
      margin: 10px auto;

      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;


      @include respond-to(wide-screens) {
        padding: 25px 25px 25px 38px;
      }
      @include respond-to(handhelds) {
        padding: 1.1rem 0.3rem 1.1rem 1.3rem;
      }
      @include respond-to(xsmall) {
        padding: 1.1rem 0.3rem 1.1rem 1.6rem;
      }
    }

    label:hover{
      color: black;
    }

    .check{
      cursor: pointer;
      display: block;
      position: absolute;
      border: 4px solid #AAAAAA;
      background: white;
      border-radius: 100%;
      height: 23px;
      width: 23px;
      top: 26px;
      left: 0px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    }

    .check:hover {
      border: 5px solid #146699;
    }

    .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 9px;
      width: 9px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }

    input[type=radio]:checked ~ .check {
      // border: 5px solid #0DFF92;
    }

    input[type=radio]:checked ~ .check::before{
      background: #146699;
    }

    input[type=radio]:checked ~ label{
      color: #146699;
    }

    .calc__radio__1{
      display: inline-block;
      position: relative;
    }
    
    .calc__radio__2{
      display: inline-block;
      position: relative;

      @include respond-to(wide-screens) {
        margin-left: 35px;
      }
      @include respond-to(handhelds) {
        margin-left: 0.3rem;
      }
    }

    .calc__list__line{
      line-height: 75px;
    }
    
    .calc__parameter, .calc__delimeter, .calc__input__wrapper{
      display: inline-block;
    }

    .calc__delimeter{
      @include respond-to(handhelds) {
        display: none;
      }
    }

    .calc__parameter{
      text-align: right;

      @include respond-to(wide-screens) {
        min-width: 270px;
      }
      @include respond-to(handhelds) {
        min-width: 5rem;
      }
    }

    .delimeter__image{
      vertical-align: top;
      padding-top: 36px;
      padding-left: 7px;
      padding-right: 7px;
    }

    .calc__list__line{
      .calc__input__wrapper{
        line-height: 75px;
        vertical-align: middle;
        cursor: pointer;
        
        @include respond-to(wide-screens) {
          padding-left: 5px;
        }
        @include respond-to(handhelds) {
          padding-left: 1rem;
        }
      }

      .activity__wrapper{
        @extend input;

        cursor: pointer;

        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 250px;
        background: url("../img/activity-arrow.png") no-repeat scroll 93% center white !important;
        @include respond-to(wide-screens) {
          width: 250px;
        }
        @include respond-to(handhelds) {
          width: 9.5rem;
        }
      }
  
      .select__activity{
        color: #6c6c6c;
        color: rgba(#6c6c6c,0);
        text-shadow: 0 0 0 #6c6c6c;

        cursor: pointer;
        padding-left: 15px;
        padding-top: 2px;
        background: transparent none repeat scroll 0 0;

        border: 0px solid #cccccc; //цвет рамки
        border-radius: 0;
        height: 50px;
        text-align: left;
                vertical-align: top;
        //color: #6c6c6c;
        

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        @include respond-to(wide-screens) {
          font-size: 1.2rem;
          width: 250px;
        }
        @include respond-to(handhelds) {
          font-size: 0.7rem;
          width: 9.5rem;
        }
      }

      select::-ms-expand {  /* для IE */ 
          display: none;
      }

      .select__activity option{
        border: 0px solid #cccccc; //цвет рамки
        background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
        outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
        // высота на свое усмотрение
        // width: 250px; // ширина на свое усмотрение
        color: #6c6c6c; //цвет шрифта в обычном состоянии
        padding-left: 18px;
        text-align: left;
        
        vertical-align: middle;
        line-height:105px;

        @include respond-to(wide-screens) {
          font-size: 1.3rem;
          padding-top: 10px;
          height: 50px; 
        }
        @include respond-to(handhelds) {
          font-size: 0.75rem;
          padding-top: 0.4rem;
          height: 2rem; 
        }
      }
      
      .lineend{
        padding-left: 15px;
      }
    }

    .calc__list__line__target{
      padding-top:68px;

      label{
        padding-top: 68px;
      }
    }

    @include respond-to(handhelds){
      .calc__parameter__target{
        vertical-align: top;
      }
    }

    .calc__target__radio__loss{
      display: inline-block;
      position: relative;
    }
    
    .calc__target__radio__gain{
      display: inline-block;
      margin-left: 20px;
      position: relative;
    }

    .calc__target__radio__main{
      display: inline-block;
      margin-left: 20px;
      position: relative;
    }

    @include respond-to(handhelds){
      .calc__target__radio__loss, 
      .calc__target__radio__gain, 
      .calc__target__radio__main{
        display: block;
        margin-left:0;
        padding-bottom: 2rem;
      }
    }

    .target__icon{
      position: absolute;
      top:-43px;
      left:65px;

      @include respond-to(wide-screens){
        top:-43px;
        left:65px;
      }
      @include respond-to(handhelds){
        top:-2rem;
        left:2rem;
      }
    }

    .target__icon__loss{
      background: url("../img/target-lose-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;

      -moz-transition: background 1s ease-in-out;
      -webkit-transition: background 1s ease-in-out;
      -o-transition: background 1s ease-in-out;

    }

    .target__icon__gain{
      background: url("../img/target-gain-icon-on.png") no-repeat center center;
      background: url("../img/target-gain-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;
    }

    .target__icon__main{
      background: url("../img/target-maintenance-icon-on.png") no-repeat center center;
      background: url("../img/target-maintenance-icon-off.png") no-repeat center center;
      width: 52px;
      height: 52px;
    }

    .calc__target__radio__loss input[type=radio]:checked ~ .target__icon__loss {
      background: url("../img/target-lose-icon-on.png") no-repeat center center;
    }

    .calc__target__radio__gain input[type=radio]:checked ~ .target__icon__gain {
      background: url("../img/target-gain-icon-on.png") no-repeat center center;
    }

    .calc__target__radio__main input[type=radio]:checked ~ .target__icon__main {
      background: url("../img/target-maintenance-icon-on.png") no-repeat center center;
    }

    .button__calc__wrapper{
      text-align: center;
      
      @include respond-to(wide-screens){
        padding-top: 28px;
      }
      @include respond-to(handhelds){
        padding-top: 0.5rem;
        padding-bottom: 3rem;
      }

    }

    .button__calc{
      text-align: center;
      background-image: none;
      padding: 0;
    }

    .calc__result{
      color: $GREY_COLOR;

      text-align: center;

      .inner__header{
        display: inline-block;
        //background: url("../img/red-arrow-to-down.png") no-repeat left center;
        
        @include respond-to(wide-screens){
          padding-left: 40px;
        }
        @include respond-to(handhelds){
          padding-left: 3.9rem;
        }
      }

      .inner__header__daily{
        background: url("../img/red-arrow-to-down.png") no-repeat left center;
        @include respond-to(handhelds){
          padding-left: 1.2rem;
          line-height: 1rem;
        }
        @include respond-to(xsmall){
          line-height: 1.5rem;
        }
      }

      .inner__header__text{
        
        vertical-align: center;
        @include respond-to(wide-screens){
          font-size: 2.08rem;
        }
        @include respond-to(handhelds){
          font-size: 1.1rem;
        }
      }

      .landmarks{
        
        @include respond-to(wide-screens){
          padding-top: 50px;
        }
        @include respond-to(handhelds){
          padding-top: 2rem;
        }
        .inner__header{
          vertical-align: center;
          @include respond-to(wide-screens){
            padding-right: 72px;
            line-height: 52px;
          }
          @include respond-to(handhelds){
            padding-right: 3.9rem;
            line-height: 1.42rem;
          }
          @include respond-to(xsmall){
            padding-right: 3.9rem;
            line-height: 1.82rem;
          }
        }
      }

      .inner__body{
        padding-top: 23px;

        .formulas__list{
          display: inline-block;
          text-align: left;
        }

        .formula__element{
          line-height: 50px;
        }

        .formula__type, .formula__delimeter, .formula__result{
          float: left;
        }

        .formula__delimeter{
          @include respond-to(handhelds){
            display: none;
          }
        }

        .formula__type{
          @include respond-to(wide-screens){
            width:285px;
          }
          @include respond-to(handhelds){
            font-size: 0.7rem;
            width:11.4rem;
          }
        }

        .formula__type__text{
          
          text-align: right;
          @include respond-to(wide-screens){
            font-size: 1.11rem;
          }
          @include respond-to(handhelds){
            font-size: 0.7rem;

            &:after{
              content: ":";
              font-size: 0.7rem;
            }
          }
        }

        .formula__delimeter__img{
          vertical-align: top;
          padding-top: 24px;
          padding-left: 10px;
          padding-right: 10px;
        }
  
        .formula__result__text{
          @include respond-to(wide-screens){
            font-size: 1.9rem;
          }
          @include respond-to(handhelds){
            font-size: 1rem;
            padding-left: 2vw;
          }
        }

      }

      .button__recalc{
        @include respond-to(wide-screens){
          padding-top: 60px;
        }
        @include respond-to(handhelds){
          padding-top: 2rem;
          padding-bottom: 2.5rem;
        }
      }

      #button__recalc{
        @include respond-to(handhelds){;
          font-size: 1rem;
          padding: 2vw 2vw 2vw 2vw;
        }
      }

    }

  }
}

.landmarks__background__lose{
  
  @include respond-to(wide-screens){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left center,
            url("../img/target-lose-icon-on.png") no-repeat right center;
  }
  @include respond-to(handhelds){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 18vw center,
            url("../img/target-lose-icon-on.png") no-repeat right 12vw center;
  }
  @include respond-to(xsmall){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 16vw center,
            url("../img/target-lose-icon-on.png") no-repeat right 7vw center;
  }
}

.landmarks__background__gain{
  @include respond-to(wide-screens){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left center,
            url("../img/target-gain-icon-on.png") no-repeat right center;
  }
  @include respond-to(handhelds){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 17vw center,
            url("../img/target-gain-icon-on.png") no-repeat right 11vw center;
  }
  @include respond-to(xsmall){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 16vw center,
            url("../img/target-gain-icon-on.png") no-repeat right 7vw center;
  }
}

.landmarks__background__main{
  
  @include respond-to(wide-screens){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left center,
            url("../img/target-maintenance-icon-on.png") no-repeat right center;
  }
  @include respond-to(handhelds){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 15vw center,
            url("../img/target-maintenance-icon-on.png") no-repeat right 9vw center;
  }
  @include respond-to(xsmall){
    background: 
            url("../img/red-arrow-to-down.png") no-repeat left 13vw center,
            url("../img/target-maintenance-icon-on.png") no-repeat right 5vw center;
  }
}


/* ----- BLOCK-6 ----- */

.block__6{
  
  text-align: center;

  @include respond-to(wide-screens){
    height: 625px;
  }
  @include respond-to(handhelds){
    height: auto;
  }

  .we__are__element__text{
    @include respond-to(handhelds){
      font-size: 0.9rem;
    }
  }

  .block__6__wrapper{
    text-align: center;
  }

  .block__6__header{
    @include respond-to(wide-screens){
      padding-top: 85px;
    }
    @include respond-to(handhelds){
      padding-top: 3rem;
    }
  }

  .block__6__content{
      position: static;
    
    @include respond-to(wide-screens){
      padding-top: 68px;
    }
    @include respond-to(handhelds){
      padding-top: 2.5rem;
    }

    .content__wrapper{

      text-align: left;

      @include respond-to(wide-screens){
        background: url("../img/block-6-how-it-works-background.png") no-repeat center center;
        width: 1164px;
        height: 339px;
      }
      @include respond-to(handhelds){
        height: auto;
        &:after, &:before{
          display: table;
          content: "";
        }
        &:after{
          clear: both;
        }
        &:before{}
      }

      .left__content{
        @include respond-to(wide-screens){
          padding-left: 85px;
          padding-top: 45px; 
        }
        @include respond-to(handhelds){
          padding-left: 1.5rem;
        }

        .content__header{
          color: #ae2a2a;
          @include respond-to(wide-screens){
            font-size: 2.66rem; 
          }
          @include respond-to(handhelds){
            font-size: 1.2rem;
          }
        }

        .text__wrapper:before{
          background: url("../img/check-icon-red.png") no-repeat center center;
        }
      }

      .right__content{
        
        @include respond-to(wide-screens){
          padding-left: 270px;
          padding-top: 67px;
        }
        @include respond-to(handhelds){
          padding-left: 1.5rem;
          padding-top: 3rem;
          padding-bottom: 3rem;
        }

        .content__header{
          color: #135986;
          @include respond-to(wide-screens){
            font-size: 2.66rem; 
          }
          @include respond-to(handhelds){
            font-size: 1.2rem;
          }
        }

        .text__wrapper:before{
          background: url("../img/check-icon-blue.png") no-repeat center center;
        }
      }

      .content_inner{
        text-align: left;
        float: left;
        

        .we__are__element{
          padding-top: 35px;
        }

        .text__wrapper{
          display: inline-block;
          position: relative;
        }

        .text__wrapper:before{
          content:"";
          display: inline-block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 14px;
          width: 20px;
          top: 1px;
          left: -36px;
          margin: auto;
        }
      }
    }
  }
}

/* ----- BLOCK-7 ----- */

.block__7{
  background: url("../img/block-7-relations.png") no-repeat center center;
  text-align: center;
  color: $GREY_COLOR;

  @include respond-to(wide-screens){
    height: 825px;
  }
  @include respond-to(handhelds){
    background-size: cover;
  }

  .block__7__wrapper{
    text-align: center;
  }

  .block__7__header{
    @include respond-to(wide-screens){
      padding-top: 118px;

    }
    @include respond-to(handhelds){
      padding-top: 4rem;
      position:relative;
      z-index: 2;
    }
  }

  .block__7__content{
    @include respond-to(wide-screens){
      padding-top: 118px;

    }
    @include respond-to(handhelds){
      padding-top: 3rem;
    }

    .message__form__icon{
      position: absolute;
      top: -2rem;
      z-index: 0;
    }

    .form__header{

      position:relative;
      z-index: 2;

      @include respond-to(wide-screens){
        margin-left: 60px;
        min-width: 500px;
      }

    }

    .header__text{
      text-align: center;
      @include respond-to(wide-screens){
        font-size: 2rem;
      }
      @include respond-to(handhelds){
        font-size: 1rem;
      }
    }

    .messageform{
      position:relative;
      z-index: 2;
      @include respond-to(wide-screens){
        padding-top: 63px;
        text-align: left;
      }
      @include respond-to(handhelds){
        padding-top: 2rem;
      }
    }
    .content__inner{
      position: relative;
      @include respond-to(wide-screens){
        float: left;
      }
    }

    .right__content{    
      @include respond-to(wide-screens){
        float: right;
      }
      @include respond-to(handhelds){
        padding-top: 5rem;
      }
    }
    
    .massage__line{

      line-height: 0px;

      .message__parameter, .message__input__wrapper{
        display: inline-block;
      }

      .message__parameter{
        min-width: 115px;
        text-align: right;
        @include respond-to(handhelds){
          display: none;
        }
      }

      .message__input__wrapper{
        line-height: 72px;
        vertical-align: middle;
        cursor: pointer;
        
        @include respond-to(wide-screens){
          padding-left: 22px;
          input{
            width: 350px;
          }
          input::placeholder{
            opacity: 0;
          }
        }
        @include respond-to(handhelds){
          width: 100%;

          input, textarea{
            width: 90%;
            min-width: 90%;
            max-width: 90%;
            text-align: left;
            padding-left: 1rem;
            font-size: 0.8rem;
          }
          input::placeholder{
            font-size: 0.8rem;
          }
          
        }
      }
    }

    .message__line__textarea{
      
      padding-top: 9px;

      .textarea__wrapper{
        line-height: 0px;
      }

      .message__parameter{
        vertical-align: top;
        line-height: 75px;
      }

      .parameter__text{
        vertical-align: middle;
        line-height: 40px;
      }

      textarea{
        min-width: 350px;
        max-width: 350px;
        min-height: 157px;
        max-height: 157px;
        vertical-align: left;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px
      }
    }

    .button__submit__wrapper{
      @extend .form__header;
      text-align: center;
      @include respond-to(wide-screens){
        padding-top: 46px;
      }
      @include respond-to(handhelds){
        padding-top: 2rem;
      }
    }

    .button__order__wrapper{
      @include respond-to(wide-screens){
        padding-bottom: 60px;
      }
      @include respond-to(handhelds){
        padding-bottom: 2rem;
      }
    }

    .block__7__content__delimeter{
      float: left;
      padding-left: 10px;
      padding-top: 73px;
    }
  }

  .callback__wrapper{
    text-align: center;
    
    @include respond-to(wide-screens){
      padding-left: 57px;
    }
    @include respond-to(handhelds){
      padding-bottom: 3rem;
    }
  }
}

/* ----- FOOTER ----- */

.footer{
  @include respond-to(wide-screens){
    background: url("../img/block-8-contact-background.png") no-repeat center center;
    height: 709px;
  }
  @include respond-to(handhelds){
    background-size: cover;
  }

  .contacts{
    @include respond-to(wide-screens){
      width: 50%;
      float: right;
    }
  }

  .contacts__inner{
    @include respond-to(wide-screens){
      padding-left: 25px;
      padding-top: 100px;
    }
    @include respond-to(handhelds){
      padding-top: 2rem;
      &>.contacts__header{
        text-align: center;
      }
    }
  }

  .reginfo{
    @include respond-to(wide-screens){
      padding-top: 50px;
    }
    @include respond-to(handhelds){
      padding-top: 2rem;
    }
  }
  
  .reginfo__text{
    
    @include respond-to(wide-screens){
      font-size: 1.64rem;
      padding-bottom: 18px;
    }
    @include respond-to(handhelds){
      font-size: 1rem;
      padding-bottom: 0.5rem;
    }
  }

  .footer__requsites{
    @include respond-to(wide-screens){
      float: left;
    }
  }

  .footer__contacts{
    @include respond-to(wide-screens){
      float: right;
    }
    @include respond-to(handhelds){
      padding-bottom: 2rem;
    }
  }

  .footer__requsites, .footer__contacts{
    @include respond-to(wide-screens){
      padding-top: 30px;
    }
    @include respond-to(handhelds){
      padding-top: 2rem;
    }
  }

  .requsits__header__text, .contacts__header__text{
    @include respond-to(wide-screens){
      font-size: 2rem;
    }
    @include respond-to(handhelds){
      font-size: 1rem;
    }
  }

  .requsits__content, .contacts__content{
    @include respond-to(wide-screens){
      padding-top: 20px;
    }
    @include respond-to(handhelds){
      padding-top: 1.9rem;
    }
  }

  .requsits__content__text, .contacts__content__text{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    color: #616161;
    @include respond-to(wide-screens){
      font-size: 15.2px;
    }
    @include respond-to(handhelds){
      font-size: 0.8rem;
    }
  }

  .contacts__highlight{
    color: $RED_COLOR; 
  }
}

/* ----- OTHER ----- */

.text__red{
  color: #ef7666;
}

.bottom__fix{
  z-index: 100;
  position: fixed;
  bottom:0px;
  width: 100%;
  line-height: 34px;
  height: 34px;

  visibility: visible;

  background: rgba(black,.85);

  transition: 1s;
  
  a, a:visited, a:hover, a:active{
    text-decoration: none;
  }

  .action{
    float: left;
  }

  .close__action{
    float: right;

    &:hover{
      cursor: pointer;
    }
  }

  .action__text, .close__action__text {
    padding-top: 2px;
    padding-left: 87px;
    padding-right: 500px;
    background: url("../img/action-background-icon.png") no-repeat 36px center;
    
    font-size: 1rem;
    text-decoration: none;
    vertical-align: center;
    
    .text__h, .text__t{
      font-size: 1rem;
      text-decoration: none;
      vertical-align: center;
    }

    .action__white{
      color: white;
    }
  }

  .close__action__text{
      padding-left: 87px;
      background: url("../img/action-background-close-icon.png") no-repeat right 36px center;

      float: right;
      padding-left: 0;
      padding-right: 81px;

      .close__t{
        color: #888888;
      }
    }
}

.bottom__fix__hide{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.develop__hide{
  display: none;
}







/* ----- BLOCK-SLIDER ----- */

.wrapper{
  text-align: center;
}

.block__slider{
  height: 587px;

  .slide__inner{
    text-align: left;
  }
}

.slide__1{
  z-index: 1;
  position: absolute;
  background: url("../img/back__1-3-final2.png") no-repeat center center;
  height: 587px;
  width: 100%;
}

.slide__2{
  z-index: 0;
}

.slide__2__inner{
  z-index: 3;
  position: absolute;
  height: 587px;
  width: 445px;
  // width: 881px;

  background: url("../img/back__2__crop-4-final.png") no-repeat center center;

  margin: 0 auto;
  left: 100px;
  right: 0;

  transform: skewX(-20deg);

  transition: width 1s, left 1s, background-position 1s;

  border-left: 4px solid white;
  border-right: 4px solid white;

  overflow: hidden;

  .slide__2__inner__text{
    transform: skewX(20deg);
  }

  .button__wrapper{
    transform: skewX(20deg);
  }
}

.slide__2__inner__open{
  width: 802px;
  transition: 1s;
}

.slide__3{
  position: absolute;
  height: 587px;
  width: 100%;
}

.slide__3__inner{
  position: absolute;
  padding-left: 930px;
  z-index: 2;

  transition: 1s;
  
  .slide__inner__text__comment{
    .text__comment{
      width: 440px;
    }
  }

  .button__wrapper{
    z-index: 2;
    margin-left: -170px;
    padding-left: 150px;
    padding-bottom: 37px;
  }
}

.slide__3__inner__open{
  padding-left: 650px;
  transition: 1s;
}

.slide__3__inner__text{
  padding-bottom: 347px
}

.button__wrapper{
  position: absolute;
  padding-top: 500px;
  padding-left: 40px;
  transition: 1s;
}

.slide__2__inner__toright{
  left: 385px;
  width: 200px;
  transition: 1s;
}

.slide__2__inner__toleft{
  left: -305px;
  width: 210px;
  transition: 1s;
}

.slide__2__button__open{
  padding-left: 100px;
  transition: 1s;
}

.slide__2__button__open__left__hide{
  opacity: 0;
  transition: 1s;
  margin-left: -400px;
}

.slide__2__button__open__right__hide{
  opacity: 0;
  transition: 1s;
  margin-left: 250px !important;
}

.slide__3__button__open__center__hidetoleft{
  opacity: 0;
  transition: 1s;
  margin-left: -250px !important;
}

.slide__3__button__open__left__hide{
  opacity: 0;
  transition: 1s;
  margin-left: -200px;
}

.button__hide{
  opacity: 0;
  transition: 1s;
}

.slide__3__button__open{
  margin-left: -250px !important;
  padding-left: 250px !important;
  transition: 1s;
}

.slide__3__button__hide{
  opacity: 0;
  transition: 1s;
  margin-left: 20px !important;
}

.slide__inner__text{
  position: absolute;
  z-index: 1;
  padding-top: 90px;
  padding-left: 200px;

  opacity: 0;

  font-size: 4rem;
  color: white;

  transition: 1s;
}

.slide__inner__text__show{
  opacity: 1;
  transition: 1s;
  padding-left: 40px;
}

.slide__3__inner__text__show{
  opacity: 1;
  transition: 1s;
  padding-left: 0px;
  padding-right: 490px;
}

.slide__inner__text__header{
  height: 70px;
}

.slide__1__inner__text__header{
  background: url("../img/icon-weight-gain.png") no-repeat left center;
}

.slide__2__inner__text__header{
  background: url("../img/icon-weight-maintenance.png") no-repeat left center;
}

.slide__3__inner__text__header{
  background: url("../img/icon-weight-loss.png") no-repeat left center;
}


.slide__inner__text__header__inner{
  padding-left: 80px;

  .header__1{
    font-size: 2.66rem;
  }
  .header__2{
    font-size: 1.77rem;
  }
}

.slide__inner__text__comment{
  padding-left: 80px;
  padding-top: 35px;

  .text__comment{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    width: 540px;
  }
}

/* ----- SCROLL-ON-TOP ----- */

.button__scrollontop__wrapper{
  position: fixed;
  z-index: 500;

  @include respond-to(wide-screens) {
    left: 30px;
    bottom: 50px;
  }
  @include respond-to(handhelds) {
    left: 5vw;
    bottom: 5vw;
  }

}

.scrollontop {
  vertical-align: middle;
}


.button__scrollontop, .button__scrollontop:hover, .button__scrollontop:active{
  // height: 100px;
  // width: 100px;
  
  padding:0;
  // border-radius: 100px;
  border-radius: 10vw;
  background-image: url("../img/scrollontop-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  // background-size: 80px 80px;

  opacity: 0.75;

  @include respond-to(wide-screens) {
    height: 6vw;
    width: 6vw;
    background-size: 5vw 5vw;
  }
  @include respond-to(handhelds) {
    height: 12vw;
    width: 12vw;
    background-size: 10vw 10vw;
  }
}

.button__scrollontop__show, .button__scrollontop__show:hover, .button__scrollontop__show:active{
  opacity: 0.75;
  transition: 2s;
  z-index: 500;
}

.button__scrollontop__hide,  .button__scrollontop__hide:hover, .button__scrollontop__hide:active{
  opacity: 0;
  transition: 1s;
  z-index: -500;
  height: 2vw;
  width: 2vw;
  background-size: 3vw 3vw;
  margin-left: 1vw;
  visibility: hidden;
}
/* ----- MODAL WINDOW ----- */

.modal__text__red{
  color: $RED_COLOR;
}

.img__wrapper{
  position: absolute;
  display: block;
  right: 10px;
  top: -35px;
}

.modal__window{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.8);
  z-index: 1000;
  display: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.modal__window:target{
  display: block;
  pointer-events: auto;
  animation-name: modal__show;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-direction: forwards;
}

@keyframes modal__show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.modal__window__inner{
  margin: 0 auto;
  font-size: 2rem;
  width: 1180px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal__body__left__panel{
  float: left;
  margin-left: -10px;
  padding-top: 85px;
  color: white;
}

.days__list__element{
  padding: 34px 0;

  .element__inner{
    display: inline-block;
    width: 105px;
    background: $RED_COLOR;
    border-radius: 10px 10px 0 0;
    -webkit-transform: rotate(-90deg); //Chrome, Safari
    -moz-transform: rotate(-90deg); //Firefox
    -o-transform: rotate(-90deg); //Opera
    -ms-transform: rotate(-90deg); //IE
    transform: rotate(-90deg); //браузеры без префексов
  }

  .element__inner__text{
    font-size: 1.23rem;
    padding: 10px;
    display: inline-block;
  }
}

.modal__body__center{
  position: relative;
  width: 1060px;
  height: 600px;
  float: left;
  margin-left: -33px;
  text-align: left;
}

.body__center__left{
  background: white;
  width: 60%;
  height: 100%;
  float: left;
  color: $GREY_COLOR;
}

.body__left__center__inner{
  padding-left: 38px;
}

.body__center__left__header{
  display: inline-block;
  margin-top: 35px;
  padding-right: 79px;
  background: url("../img/icon-weight-loss-red.png") no-repeat right top;
}

.header__1__line{
  padding-top: 15px;
  font-size: 2.53rem; //2.23 ДЛЯ ПОДДЕРЖАНИЯ ВЕСА

}
.header__2__line *{
  font-size: 1.52rem;
}

.modal__dots__wrapper{
  display: inline;
}

.modal__dots, .modal__slash{
  vertical-align: middle;
}

.body__center__left__description{
  padding-top: 25px;
}

.description__wrapper{
  max-height: 120px;
  width: 550px;
  overflow: hidden;
}

.body__center__left__facts{
  padding-top: 10px;
}

.body__center__left__facts > *{
  display: inline-block;
  padding-right: 30px;
}

.modal__nutrition__text, .modal__delivery__text{
  font-size: 1.14rem;
  vertical-align: middle;

}

.body__center__left__delimiter__wrapper-1{
    padding-top: 35px;
}

.body__center__left__delimiter{
  margin-left: -10px;
  height: 2px;
  background: url("../img/dashes-horizontal.png") no-repeat left center;
}

.body__center__left__priceandpaymant{
  padding: 10px 0;
  line-height: 55px;
  >*{
    font-size: 2.78rem;
  }
}

.priceandpaymant__rouble{
  font-family: 'PTRoubleSans', sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
  font-size: 2.34rem;
}

.typeofpayment__wrapper, .typeofpayment__wrapper:hover, .typeofpayment__wrapper:active{
  // @extend input;
  border: none;
  cursor: pointer;
  outline: none;

  height: 40px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 180px;
  background: url("../img/activity-arrow-red.png") no-repeat scroll 93% 35% white !important;
}

.typeofpayment__select,
.typeofpayment__select:hover,
.typeofpayment__select:active,
.typeofpayment__select:enabled{
  color: $GREY_COLOR;
  color: rgba($GREY_COLOR,0);
  text-shadow: 0 0 0 $GREY_COLOR;

  height: 40px;
  margin-top: -30px;

  cursor: pointer;
  padding-left: 15px;
  padding-top: 2px;
  background: transparent none repeat scroll 0 0;

  border: 0px solid #cccccc; //цвет рамки
  border-radius: 0;
  text-align: left;
  width: 180px;
  vertical-align: middle;
  //color: #6c6c6c;
  font-size: 1.14rem;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.typeofpayment__select option{
  border: 0px solid #cccccc; //цвет рамки
  background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
  outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
  height: 40px; // высота на свое усмотрение
  // width: 250px; // ширина на свое усмотрение
  color: #6c6c6c; //цвет шрифта в обычном состоянии
  padding-left: 18px;
  text-align: left;
  font-size: 1.14rem;
  vertical-align: middle;
  line-height:85px;

  padding-top: 10px;
}

.form__order__wrapper{
  padding-top: 35px;
}

.typeofpayment__button__wrapper{
  display: inline-block;
  padding-left: 10px;
}

.button__modal, .button__modal:hover, .button__modal:active{
  padding: 0 20px;
  font-size: 1.01rem;
  height: 42px;
}

.form__order{
  input{
    height: 40px;
    font-size: 1.01rem;
    text-align: left;
    padding-left: 20px;
  }
}

.list__element{
  display: inline-block;
  padding-right: 10px;
}

.form__order__input__name{
  width: 212px;
}

.form__order__input__phone{
  width: 176px;
}

.form__order__button, .form__order__button:hover{
  padding: 0 10px;
  margin-top: 7px;
}

.comment__wrapper{
  padding-top: 25px;
  width: 550px;
}

.comment-text{
  line-height: 1;
  font-size: 13.8px;
}

.body__center__right{
  background: #ebebeb;
  width: 40%;
  height: 100%;
  float: left;
}
